@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Kulim';
    src: url('./assets/fonts/KulimPark-Bold.ttf');
}
@font-face {
    font-family: 'KulimL';
    src: url('./assets/fonts/KulimPark-Light.ttf');
}

/* src/styles/Scrollbar.css */

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 6px; /* Set a small width */
    height: 6px; /* Set a small height */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; /* Make the scrollbar thumb transparent */
  }
  

